* {
  padding-inline-start: 0;
}

.backimg {
  display: flex;
  background: url(./img/header-shapes\ mobile@2x.svg) no-repeat top/cover;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 100px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.cont {
  width: 60%;
  font-family: sans-serif;
}

.icons {
  display: flex;
  flex-direction: row;
  flex: 1 1 140px;
  justify-content: space-between;
  position: relative;
  list-style: none;
  padding-left: 24px;
  text-decoration: none;
}

.active {
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  color: #6070ff;
  margin-left: 10px;
}

h1 {
  font-family: Poppins, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: bold;
  line-height: 52px;
  text-align: left;
  padding: 158px 24px 0 24px;
}

.para {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 0 24px 0 24px;
  color: #344563;
}

.list1 {
  padding-left: 1%;
}

.top .toggleNav {
  margin-right: 20px;
  margin-top: 15px;
  font-size: 200%;
}

a {
  text-decoration: none;
}

.connect {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-left: 24px;
  color: #7f8cff;
}

.works {
  display: grid;
  background: #e5e5e5;
  border-top: 1px solid white;
  list-style: none;
}

.card-w1 {
  background: #fff;
  border-radius: 20px;
  padding-bottom: 20px;
  margin: 0 24px;
}

.image-section {
  display: grid;
  justify-items: center;
  margin-top: 105px;
  margin-bottom: 20px;
}

.image-section img {
  width: 295px;
  margin-top: 50px;
}

.titlep1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.titlep1 h2 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 0 16px;
}

.icons2 {
  display: flex;
  flex-direction: row;
  padding-left: 16px;
}

.icons2 li {
  text-align: center;
  list-style: none;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  display: flex;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  margin-right: 8px;
}

.btn {
  padding: 10px;
  border: 1px solid #6070ff;
  border-radius: 10px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  background-color: #fff;
  margin: 15px 26px;
}

.description {
  display: flex;
  margin: 0 16px;
  align-items: center;
  padding-left: 8px;
  list-style: none;
}

.snip1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.snip2 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.snip3 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.title-about {
  font-family: Poppins, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: bold;
  line-height: 52px;
  text-align: left;
  padding: 158px 24px 0 24px;
}

.para-about {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 0 24px 0 24px;
}

.card-w2 {
  background: #fff;
  border-radius: 20px;
  padding-bottom: 20px;
  margin: 0 24px;
}

.card-w3 {
  background: #fff;
  border-radius: 20px;
  padding-bottom: 20px;
  margin: 0 24px;
}

.card-w4 {
  background: #fff;
  border-radius: 20px;
  padding-bottom: 20px;
  margin: 0 24px;
}

.open-menu {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: baseline;
  background-color: #f7f7f9;
  border-radius: 10px;
  margin: 18px 12px 0 12px;
  padding: 8px 0 8px 5px;
}

.open-menu p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  color: #253858;
}

.main-menu {
  display: flex;
  justify-content: space-around;
}

.main-menu p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  color: #000;
  margin-left: 16px;
}

.arrow {
  padding-left: 64px;
  margin-left: 64px;
}

.arrow1 {
  padding-left: 64px;
  margin-left: 64px;
}

.arrow2 {
  padding-left: 64px;
  margin-left: 64px;
}

.skills {
  padding-right: 75px;
}

.project {
  display: flex;
  flex-direction: column;
}

.contactimg {
  background: url(./img/Contact.png) no-repeat top/cover;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 100px;
}

.contact-par {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgb(223, 223, 223);
  margin: 0 38px 0 38px;
  margin-bottom: 50px;
}

form input {
  display: flex;
  margin: 15px;
  height: 30px;
  width: 300px;
  border-radius: 8px;
  border: 0;
  padding: 0 0 0 15px;
}

.list2 {
  margin: 24px;
}

.contact-title h4 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
  font-family: Poppins, sans-serif;
  margin-top: 20px;
  padding-top: 80px;
}

form ul {
  text-decoration: none;
}

form textarea {
  width: 300px;
  height: 150px;
  border-radius: 8px;
  text-decoration: none;
  padding: 15px 0 0 15px;
  margin-left: 12px;
}

.background-div {
  background: url(/img/contact-shapes.png) no-repeat top/cover;
}

.bar-1 {
  display: flex;
  align-items: left;
}
