.header {
  position: absolute;
}

.nav {
  display: block;
  margin: 2em 0 0 2em;
}

.backimg {
  display: flex;
  background: url(./img/header-shapes\ mobile@2x.svg) no-repeat top/cover;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
}

.top {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

ul.icons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  position: relative;
  list-style: none;
  padding-left: 0;
}

.active {
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  color: #6070ff;
}

.title2 {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.list1 {
  padding-left: 1%;
}

.cont {
  flex: auto;
}
