.header {
  position: absolute;
}

.nav {
  display: block;
  margin: 2em 0 0 2em;
  width: 50 px;
}

.backimg {
  display: flex;
  background: url(/img/header-shapes\ mobile@2x.svg) no-repeat top/cover;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
}

.top {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.icons {
  display: flex;
  position: relative;
  top: -200px;
}
